<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="130" height="30" class="svg"><g fill="#4588FB" fill-rule="evenodd"><path d="M33.405 2H24v26h19v-6.591h-9.595zM124.406 28H115V2h19v6.589h-9.594zM45 28h10V2H45zM60 2v26h9.44V8.475h6.118V28H85V2zM163 28V2h-9.442v19.52h-6.116V2H138v26zM100.039 6.68c-2.985 0-4.372 1.601-4.669 5.225h8.652c-.066-3.496-1.177-5.225-3.983-5.225zm-.1-6.233c7.82 0 11.748 4.034 11.748 12.051v4.165H95.41c.436 3.872 2.22 5.27 7.675 5.27 2.257 0 4.521-.316 6.715-.894l.842 5.712c-2.67.888-5.77 1.364-9.29 1.364-9.918 0-14.066-4.455-14.066-13.89v-.1C87.286 5.06 91.172.447 99.94.447zM.925 30.984v9.359h9.37v9.355h9.373V30.98z"/></g></svg>

  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="approved">Solicitudes Aprobadas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="rejected">Solicitudes Denegadas</a>
      </li>
    </ul>
  </div>
</nav>
