<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col">
      <p>{{ min | currency }}</p>
    </div>
    <div class="col">
      <mat-slider
        tickInterval="1000000"
        [min]="min"
        [max]="max"
        [(ngModel)]="valorSlider"
        (mouseup)="lanzar($event)"
      ></mat-slider>
    </div>
    <div class="col">
      <p>{{ max | currency }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="example-form-field">
        <mat-label>Valor Credito</mat-label>
        <!-- <input matInput [(ngModel)]="value" > -->
        <input matInput [value]="valorSlider | currency" />
      </mat-form-field>
    </div>
  </div>
</div>
