<!-- <mat-grid-list [cols]="colSize">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <app-loan-simulator> </app-loan-simulator>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="1">

  </mat-grid-tile>
</mat-grid-list> -->

<form
  class="example-form"
  [formGroup]="formGroup"
  (ngSubmit)="onFormSubmit()"
  ngNativeValidate
>

  <div class="container">
    <div class="row">
      <div class="col col-md-4">
        <app-loan-simulator [ValorCredito] = "valorPrestamo" (PasameElPueblo)="showPueblo($event)"> </app-loan-simulator>
      </div>
      <div class="col col-md-8">
        <div class="row">
          <div class="col-6 col-md-4">
            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                #input
                maxlength="10"
                placeholder="Ex. Nougat"
                required
                formControlName="nombre"
              />
              <mat-hint align="end">{{ input.value?.length || 0 }}/20</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-6 col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Correo</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                [formControl]="email"
                required
                formControlName="correo"
              />
              <mat-error *ngIf="email.invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6 col-md-4">
            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
              <mat-label>Cédula</mat-label>
              <input
                matInput
                #input
                maxlength="10"
                placeholder="Ex. Nougat"
                required
                formControlName="cedula"
              />
              <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-6 col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Valor Prestamo</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                required
                formControlName="valorPrestamo"
                [(ngModel)]="valorPrestamo"
              />
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            {{valorPrestamo}}
          </div>
          <div class="col-6 col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Fecha pagar</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaPagar"/>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6 col-md-4">
            <mat-slide-toggle formControlName="estadoCredit"
              >Estado de credito</mat-slide-toggle
            >
          </div>
          <div class="col-6 col-md-4">
            <mat-slide-toggle formControlName="pagoCredito" required
              >Pago Credito</mat-slide-toggle
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-4">
        <button mat-raised-button type="submit">Save Settings</button>
      </div>
    </div>
  </div>
</form>
